.moreButtonContainer{
    display: flex;
    flex-direction: row !important;
    margin-top: -17px;
    margin-left: -17px;
    margin-bottom: 10px;
}
.moreButton{ 
    font-size: 14px;
    width:95px;
    height:40px; 
    border: solid black 1px;
}
.moreButton.active {
    border-bottom: none;
}
.moreLast{
    display:none;
  }
.moreWorkspace{
    display:none;
  }
.moreCreate{
    display: none;
  }
.moreCreateContent{
    display: none;
}
@media (max-width: 630px) {
  .moreLast{
    display:block !important;
  }
  .moreButton{
    width:290px;
  }
}
@media (max-width: 580px) {
  .moreWorkspace{
    display:block !important;
  }
  .moreButton{
    width:145px;
  }
}
@media (max-width: 400px) {
  .moreCreate{
    display:block !important;
  }
  .moreButton{
    width:95px;
  }
}