.loginForm {
  font-size: 20px;
  margin: 0px;
  text-decoration: none;
  color: black;
}
.inputUsername {
  font-size: 20px;
}
.inputPassword {
  font-size: 20px;
}
.formOptions {
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}
.incorrectText {
  text-align: center;
  font-size: 14px;
  color: red;
  margin: 0px;
  display: none;
}
::placeholder {
  color: rgba(186, 186, 186, 0.685);
}
.lowerLoginOptions {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  background-color: rgb(213, 155, 75);
  border: none;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}
.createAccountPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 550px;
  z-index: -1;
  width: 100vw;
  height: 90vh;
  font-size: 30px;
  font-weight: bold;
  padding-top: 0px;
  font-family: "Neucha", cursive;
}
.createAccountText {
  margin-bottom: 50px;
  font-size: 40px;
}
.createAccountForm {
  margin: 10px;
  font-size: 20px;
  margin-left: 55px;
  padding: 0px 27px 0px 0px;
}
.accountInstructionPassword {
  color: black;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}
.accountInstructionUsername {
  color: black;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}
.usernameIconOk {
  width: 25px;
  height: 25px;
  position: relative;
  top: 6px;
  right: 36px;
  color: green;
}
.passwordIconOk {
  width: 25px;
  height: 25px;
  position: relative;
  top: 6px;
  right: 36px;
  color: green;
}
.passwordConfirmIconOk {
  width: 25px;
  height: 25px;
  position: relative;
  top: 6px;
  right: 36px;
  color: green;
}
.emailIconOk {
  width: 25px;
  height: 25px;
  position: relative;
  top: 6px;
  right: 36px;
  color: green;
}
.passwordVisibleIcon {
  width: 25px;
  height: 25px;
  position: relative;
  top: 6px;
  right: 30px;
  color: white;
}
.createAccountButton {
  position: relative;
  top: 10px;
  font-size: 18px;
}
.accountCreated {
  font-size: 30px;
  font-weight: bold;
  font-family: "Neucha", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  width: 100vw;
  height: 90vh;
  margin-top: -80px;
}
.loginButton {
  margin: 10px;
  width: 100px;
  font-weight: bold;
}
@media (max-width: 430px) {
  .createAccountForm {
    width: 60%;
    margin-left: 35px;
  }
}
@media (max-width: 370px) {
  .createAccountForm {
    margin-left: 15px;
  }
}
