.createWorkspace {
  display: flex;
  justify-content: center;
}
.workspaceBtn {
  margin-bottom: 7px;
  height: 50px;
  background-color: rgb(255, 255, 255);
}
.createWorkspaceBtn {
  font-weight: bold;
  font-size: 14px;
  width: 240px;
  height: 50px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
  margin-bottom: 35px;
}
.createCancelBtn {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: auto;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}
.workspaceRead {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.workspaceWrite {
  display: none;
  flex-direction: column;
  width: 300px;
}
.createWorkspaceContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.createWorkspaceWriteLeft {
  display: block;
  margin-right: auto;
}
.createWorkspaceDelete {
  display: block;
  margin-left: auto;
  margin-right: 3px;
}
.projectNameWrite {
  margin-bottom: 10px;
  width: 240px;
  height: 24px;
  font-size: 16px;
}
.projectTypeWrite {
  margin-bottom: 10px;
  width: 247px;
  height: 30px;
}
.projectDescriptionWrite {
  font-size: 16px;
  width: 240px;
  height: 80px;
  user-select: text;
}
.containerWrite {
  display: flex;
}
.workspaceCreatedText {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
textarea {
  resize: none;
}
.selectedWorkspaceSign{
  margin-bottom: -2px;
  margin-top: -12px;
}
