.kotelloButtonContainer{
    display: flex;
    flex-direction: column;
}
.kotelloButton{
  font-size: 14px;
    width:247px;
    height:40px;
    border-radius: 12px;
    margin: 2px;
    background-color: white;
    border: solid black 1px;
}
.kotelloBackButton{
    display: block;
    justify-self: end;
    border-radius: 5px;
    border: solid black 1px;
    margin-top: -8px;
    margin-left: auto;
    margin-bottom: 2px;
    background-color: white;
}
.languageButtonKotello{
    display: block;
    margin-left: auto;
    margin-top: 190px;
}


